/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  text-decoration: none;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

img {
  max-width: 100%;
  display: block;
}

/*primary color*/
* {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  appearance: none;
  -moz-appearance: none;
  -webkit-appearance: none;
}

html,
body {
  width: 100%;
  max-width: 1920px;
  -webkit-font-smoothing: antialiased;
  margin: auto;
  background: #fff;
  position: relative;
  scroll-behavior: smooth;
}

html .container-fluid,
body .container-fluid {
  padding-right: 30px;
  padding-left: 30px;
  margin-right: auto;
  margin-left: auto;
}

html .container,
body .container {
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
}

@media (min-width: 576px) {
  html .container,
  body .container {
    max-width: 540px;
  }
}

@media (min-width: 768px) {
  html .container,
  body .container {
    max-width: 720px;
  }
}

@media (min-width: 992px) {
  html .container,
  body .container {
    max-width: 960px;
  }
}

@media (min-width: 1200px) {
  html .container,
  body .container {
    max-width: 1010px;
  }
}

html main,
body main {
  width: 100%;
  margin: auto;
  overflow: hidden;
}

.btn {
  font-size: 14px;
  font-family: "pb";
  text-transform: uppercase;
  letter-spacing: 2px;
  display: inline-block;
  line-height: normal;
}

.btnmain {
  position: relative;
  border: 2px solid #fff;
  padding: 17px 92px 17px 52px;
  color: #fff;
}

.btnmain:hover {
  background-color: #bea67c;
  color: #000;
}

.btnmain:before {
  position: absolute;
  content: '';
  width: 30px;
  height: 9px;
  background-repeat: no-repeat;
  background-image: url(../img/next-slider.png);
  top: 50%;
  right: 42px;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}

.btnline {
  color: #000;
  position: relative;
  margin-top: 38px;
}

.btnline::before {
  position: absolute;
  content: '';
  width: 30px;
  height: 9px;
  background-repeat: no-repeat;
  background-image: url(../img/arrow-right-yellow.png);
  top: 50%;
  right: -42px;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}

.btnline::after {
  content: '';
  position: absolute;
  width: 40px;
  height: 2px;
  background-color: #bea67c;
  bottom: -8px;
  left: 0;
}

.btnline:nth-child(2) {
  margin-right: 25px;
}

.btnvideo {
  position: relative;
  color: #fff;
  border: 1px solid white;
  padding: 20px 63px 20px 89px;
}

.btnvideo:before {
  position: absolute;
  content: '';
  background-image: url(../img/play-video.png);
  width: 21px;
  height: 21px;
  top: 50%;
  left: 56px;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}

h2.title {
  font-size: 40px;
  font-family: "pb";
  text-transform: uppercase;
}

.des {
  font-size: 16px;
  font-family: "pr";
}

.furniture {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 100%;
}

.furniture__text {
  width: calc(100% - 514px);
  padding-left: 97px;
  padding-right: 74px;
}

.furniture__text .title {
  margin-bottom: 30px;
  position: relative;
}

header {
  width: 100%;
  max-width: 1920px;
  height: 80px;
  position: fixed;
  top: 0;
  left: 0;
  background-color: rgba(255, 255, 255, 0.192);
  z-index: 200;
}

header .container-fluid {
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

header .logo .hidden {
  display: none;
}

header .menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 100%;
  position: absolute;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
}

header .menu li a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  height: 100%;
  font-size: 15px;
  line-height: 22px;
  color: #fff;
  opacity: 0.5;
  text-transform: uppercase;
  font-family: "pb";
  padding: 0 30px;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

header .menu li a:hover, header .menu li a.active {
  color: #bea67c;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  opacity: 1;
}

header .right {
  height: 100%;
}

header .right .lang {
  height: 100%;
  position: relative;
}

header .right .lang__current {
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  cursor: pointer;
}

header .right .lang__current span {
  font-size: 15px;
  line-height: 22px;
  color: #fff;
  opacity: 0.5;
  text-transform: uppercase;
  font-family: "pb";
}

header .right .lang__option {
  background-color: rgba(255, 255, 255, 0.192);
  position: absolute;
  right: 0;
  top: 80px;
  z-index: 198;
  opacity: 0;
}

header .right .lang__option a {
  display: block;
  padding: 15px 20px;
  font-size: 15px;
  line-height: 22px;
  color: #fff;
  text-transform: uppercase;
  font-family: "pb";
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

header .right .lang__option a:last-child {
  padding-top: 12px;
}

header .right .lang__option a:first-child {
  padding-bottom: 12px;
}

header .right .lang__option a:hover {
  color: #bea67c;
}

header .right .lang:hover .lang__option {
  -webkit-transition: 0.3s;
  transition: 0.3s;
  opacity: 1;
}

footer {
  background-color: #000;
  padding: 25px 0;
}

footer .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

footer .container .copy {
  font-size: 12px;
  font-family: 'Proxima Nova Rg';
  text-transform: capitalize;
  color: #b0b0b0;
}

footer .container .backtotop {
  font-size: 12px;
  font-family: 'Proxima Nova Rg';
  text-transform: uppercase;
  color: #b0b0b0;
}

.slider {
  width: 100%;
  height: 100%;
  position: relative;
}

.slider__item-wrap {
  width: 100%;
  height: 100%;
}

.slider__item-wrap .slider__item {
  background-color: yellowgreen;
  width: 100%;
  height: 100vh;
  position: relative;
}

.slider__item-wrap .slider__item-text {
  text-align: center;
  position: absolute;
  z-index: 10;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.slider__item-wrap .slider__item-text h2 {
  font-size: 83.33px;
  font-family: "pb";
  color: #bea67c;
  margin-bottom: 33px;
  letter-spacing: 2px;
}

.slider__item-wrap .slider__item img {
  width: initial;
  min-width: 100%;
  min-height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  top: 50%;
  left: 50%;
  position: absolute;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.slider__bottom .container-fluid {
  width: 100%;
  position: absolute;
  bottom: 40px;
  left: 0;
  right: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.slider__bottom .container-fluid .paging {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding-left: 57px;
}

.slider__bottom .container-fluid .paging__number {
  font-size: 42px;
  font-family: "pb";
  color: #bea67c;
  padding-right: 18px;
  position: relative;
}

.slider__bottom .container-fluid .paging__number:before {
  position: absolute;
  content: '';
  width: 43px;
  height: 4px;
  background-color: #bea67c;
  background-repeat: no-repeat;
  top: 50%;
  left: -57px;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}

.slider__bottom .container-fluid .paging__dotted {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.slider__bottom .container-fluid .paging__dotted li {
  width: 9px;
  height: 9px;
  background-color: #555555;
  border-radius: 50%;
  cursor: pointer;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.slider__bottom .container-fluid .paging__dotted li:not(:last-child) {
  margin-right: 13px;
}

.slider__bottom .container-fluid .paging__dotted li:hover, .slider__bottom .container-fluid .paging__dotted li.active {
  opacity: 1;
  background-color: #bea67c;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.slider__bottom .container-fluid .mouse {
  position: absolute;
  bottom: 0;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
}

.slider__bottom .container-fluid .mouse img {
  margin-left: auto;
  margin-right: auto;
}

.slider__bottom .container-fluid .mouse__arrow {
  padding-top: 12px;
}

.slider__bottom .container-fluid .control {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.slider__bottom .container-fluid .control__btn {
  border: 2px solid #fff;
  padding: 16px 19px;
  cursor: pointer;
}

.slider__bottom .container-fluid .control__btn:hover {
  background-color: #bea67c;
}

.slider__bottom .container-fluid .control__btn:not(:last-child) {
  border-right: none;
}

.products {
  margin-top: 93px;
  margin-bottom: 93px;
}

.products .furniture {
  margin-bottom: 104px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 100%;
}

.products .furniture__text {
  width: calc(100% - 514px);
  padding-left: 97px;
  padding-right: 74px;
}

.products .furniture__text .title.--furniture {
  position: relative;
}

.products .furniture__text .title.--furniture:before {
  position: absolute;
  content: '';
  width: 82px;
  height: 2px;
  background-color: #555555;
  top: 50%;
  left: -96px;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}

.products .furniture.--decor {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
}

.products .furniture.--decor .furniture__text {
  text-align: right;
}

.products .furniture.--decor .furniture__text .title.--decor {
  position: relative;
}

.products .furniture.--decor .furniture__text .title.--decor:before {
  position: absolute;
  content: '';
  width: 82px;
  height: 2px;
  background-color: #555555;
  top: 50%;
  right: -96px;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}

.videos .furniture-textcenter {
  width: 465px;
  text-align: center;
  margin: 0 auto;
}

.videos .furniture-textcenter .title {
  margin-bottom: 50px;
  position: relative;
}

.videos .furniture-textcenter .title:before {
  position: absolute;
  content: '';
  width: 37px;
  height: 3px;
  background-color: #bea67c;
  bottom: -8px;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
}

.videos .furniture-textcenter .des {
  text-align: center;
  color: #636262;
  width: 465px;
  margin: 0 auto;
  margin-bottom: 65px;
}

.videos__item-wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.videos__item-wrap .videos__item {
  text-align: center;
}

.videos__item-wrap .videos__item-caption {
  margin-top: 46px;
  position: relative;
}

.videos__item-wrap .videos__item-caption:before {
  position: absolute;
  content: '';
  width: 22px;
  height: 2px;
  background-color: #bea67c;
  top: -22px;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
}

.videos__item-wrap .videos__item-caption a {
  color: black;
  font-weight: 600;
  font-size: 16px;
  font-family: "pr";
  text-align: center;
  text-transform: capitalize;
}

.info {
  background-image: url(../img/info-img.jpg);
  height: 640px;
  position: relative;
  margin-top: 110px;
  margin-bottom: 112px;
}

.info__text {
  position: absolute;
  width: 558px;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}

.info__text .title {
  width: 421px;
  font-size: 40px;
  text-transform: uppercase;
  color: #bea67c;
  font-family: "pb";
  margin-bottom: 40px;
}

.info__text .text p {
  font-size: 16px;
  font-family: "pr";
  margin-bottom: 50px;
  color: white;
}

.about {
  margin-bottom: 90px;
}

.about .furniture.--about {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
}

.about .furniture.--about h2 {
  position: relative;
}

.about .furniture.--about h2:before {
  content: '';
  position: absolute;
  width: 82px;
  height: 2px;
  background-color: #555555;
  top: 50%;
  left: -96px;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}

.gallery {
  background-color: black;
  padding-top: 88px;
  padding-bottom: 90px;
  margin-bottom: 85px;
}

.gallery__text .title {
  color: #fff;
}

.gallery__text .des {
  color: #fff;
  width: 440px;
  margin-top: 28px;
  margin-bottom: 50px;
}

.gallery__grid {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[3];
      grid-template-columns: repeat(3, 1fr);
  grid-auto-rows: 200px;
  row-gap: 11px;
  -webkit-column-gap: 11px;
          column-gap: 11px;
  margin: 0 auto;
}

.gallery__grid-item {
  background-color: red;
  width: 100%;
  height: 100%;
  overflow: hidden;
  position: relative;
}

.gallery__grid-item:nth-child(2) {
  -ms-grid-row: 1;
      grid-row-start: 1;
  grid-row-end: 3;
  -ms-grid-column: 2;
      grid-column-start: 2;
  grid-column-end: 3;
}

.gallery__grid-item img {
  width: 100%;
  min-width: 100%;
  min-height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.news__text .des {
  width: 440px;
  margin-top: 28px;
  margin-bottom: 50px;
}

.news__grid {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[3];
      grid-template-columns: repeat(3, 1fr);
  -webkit-column-gap: 25px;
          column-gap: 25px;
}

.news__grid-item .news__img {
  display: block;
  height: 0;
  padding-bottom: 56.25%;
  overflow: hidden;
  position: relative;
}

.news__grid-item .news__img img {
  width: 100%;
  min-height: 100%;
  min-width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.news__grid-item .news__box {
  margin-top: 52px;
}

.news__grid-item .news__box .title {
  font-size: 18px;
  font-family: "pb";
  text-transform: uppercase;
  position: relative;
  min-height: 44px;
  display: block;
  margin-bottom: 28px;
}

.news__grid-item .news__box .title::before {
  content: '';
  position: absolute;
  width: 83px;
  height: 3px;
  background-color: #bea67c;
  top: -27px;
  left: 0;
}

.news__grid-item .news__box .title a {
  color: #000;
}

.news__grid-item .news__box .des {
  margin: 0;
  display: block;
  width: 276px;
  font-size: 15.02px;
  font-family: "pr";
}

.photo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 90px 0;
  height: 356px;
  overflow: hidden;
  position: relative;
}

.photo img {
  width: 100%;
}
/*# sourceMappingURL=style.css.map */